/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* -------------------------------------------------------------------------- */
/* --------------------------------CUSTOM CSS-------------------------------- */
/* -------------------------------------------------------------------------- */

#contactBtn{
  border: 0;
  width: 20%;
  text-align: center;
  display: block;
  margin: 0 auto;
  line-height: 26px;
}

#wrapperContact{
  border: 0;
  box-shadow: none;
  margin-top: 25px;
}

#wrapperContact .collapsible-body{
  border: 0;
}

.clearfix{
  clear: both;
}

#personalWorkers{
  BACKGROUND-COLOR: #4db6ac;
  color: white;
  text-align: center;
  padding-top: 20px;
}

.personWrapper{
  width: 90%;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
  background-color: white;
}

.quienesSomos p{
  margin-bottom: 40px;
}

.worksDone{
  z-index: 10;
}

.worksDone h4{
  font-weight: bolder;
  letter-spacing: 2px;
}

.blackWrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

#textPpBanner{
  line-height: 2rem;
}
/* -------------------------------------------------------------------------- */

@media (max-width : 767px) {
  .personWrapper{
    width: 70%;
    margin-top: 30px;
  }
}
